In [ ]:
## Reading a text file
filename = '.txt'
file = open(file=filename, mode='r') # r is read only, 'w' to write
text = file.read()
file.close() 
## or use (with) to auto manage closing
with open(filename, 'r') as file:
    print(file.readline())

# Importing using Numpy
## Python standard for storing numerical data

In [ ]:
import numpy as np
## not good with mixed data types in column
filename = '.txt'
data = np.loadtxt(filename, delimiter=',', dtype=str)
data

# Importing using Pandas

In [2]:
import pandas as pd

data = pd.read_csv('data_files/Heart_Disease_Prediction.csv')
# , sep='\t', comments='#', na_values=['Nothing']
print(data.head(5))

   Age  Sex  Chest pain type   BP  Cholesterol  FBS over 120  EKG results  \
0   70    1                4  130          322             0            2
1   67    0                3  115          564             0            2
2   57    1                2  124          261             0            0
3   64    1                4  128          263             0            0
4   74    0                2  120          269             0            2

   Max HR  Exercise angina  ST depression  Slope of ST  \
0     109                0            2.4            2
1     160                0            1.6            2
2     141                0            0.3            1
3     105                1            0.2            2
4     121                1            0.2            1

   Number of vessels fluro  Thallium Heart Disease
0                        3         3      Presence
1                        0         7       Absence
2                        0         7      Presence
3                        1         7       Absence
4                        1         3       Absence

# Connection String Setup

In [33]:
import os
from dotenv import load_dotenv

load_dotenv()
#
user = os.getenv('DB_USER')
password = os.getenv('DB_PASS')
host = os.getenv('DB_HOST')
database_name = os.getenv('DB_NAME')

DB_URL = f'mysql+mysqlconnector://{user}:{password}@{host}/{database_name}'

## Import using SQLAlchemy

In [ ]:
from sqlalchemy import create_engine, text

engine = create_engine(DB_URL) #'mysql+mysqlconnector://user:password@host/database_name'
df = dict()
#test connection
try:
    connection = engine.connect()
    rs = connection.execute(text('SELECT * FROM employees'))
    df = pd.DataFrame(rs.fetchall()) #rs.fetchmany(size=5)
    df.columns = rs.keys()
    connection.close()
except Exception as e:
    print(e)

print(df)

## SQL using Pandas

In [34]:
engine = create_engine(DB_URL) #'mysql+mysqlconnector://user:password@host/database_name'
df = pd.read_sql_query('SELECT * FROM employees', engine)
print(df.head())

   EmployeeID FirstName LastName    HireDate    Salary
0           1      John  Johnson  2018-03-15  55000.00
1           2      Jane    Smith  2019-07-22  62000.50
2           3   Michael  Johnson  2016-01-10  75000.00
3           4     Emily    Davis  2020-11-05  48000.75
4           5    Robert    Brown  2015-06-30  82000.00